.featured-airbnb-plus{
    grid-column:full-start/full-end;

    &__cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: $default-grid-column-gap;
    }
}