.intro-airbnb-adventures{
    grid-column:full-start/full-end;

   
}

.adventure-cards{
    display:grid;
    grid-template-columns: repeat(5,1fr);

    grid-column-gap: $default-grid-column-gap;

    
}