//font
$default-font-size: 1.6rem;

//color
$default-font-color:rgba(72, 72, 72, 1);

$default-landing-page-color: rgba(0, 0, 0, 1);

//https://usbrandcolors.com/airbnb-colors/
$airbnb-default-color:rgba(255, 90, 95,1);
$airbnb-button-press-color:  rgba(118, 118, 118, 1);

$nav-font-color: white;

$form-input-color: rgba(118, 118, 118, .5);

/* offset-x | offset-y | blur-radius | spread-radius | color */
//https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
//https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow
$default-box-shadow: 0rem 0rem 2rem .1rem rgba(72, 72, 72, .4); 


