.button{
    background-color:$airbnb-default-color;
    color: white;
    border-radius: 0.5rem;
    border: none;
}

.button:active{
    //https://codepen.io/baudoin/pen/HdliD
    background-color: darken($airbnb-default-color,10%);
    // border: 1rem solid black;

    // transform-origin: 20% 40%;
}

.contact-host__button{
    color: $airbnb-default-blue;
    font-size:$default-font-size;
    font-weight: 500;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    border: solid .3rem $airbnb-default-blue;
}

