.trip-card{

    // background-color: blue;
    display:grid;
    grid-template-rows: 5.5fr 3fr 1.5fr;
    // border: solid .5rem black;
    border-radius: $picture-border-radius-medium;
    box-shadow: $default-box-shadow;
    height: 55vh;


    &__header{

    }

    &__location{

    }

    &__date{
        color: $airbnb-default-color-light-grey;
    }

    &__description{
        grid-row: 2/3;
    }

    &__img{
        grid-row: 1/2;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $picture-border-radius-medium $picture-border-radius-medium 0rem 0rem;
    }
}