.forms{
    background-color: white;

    grid-column: 2/3;

    height: 60vh;

    margin-top: 5rem;

    border-radius: 0.5rem;

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: .0rem 0rem 2rem .1rem rgba(0, 0, 0, .3);

    display: grid;

    grid-template-rows: repeat(5,1fr);

    padding: 4rem;

}