.places-card{


    display:grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(4,1fr);
    
    &__picture{
        grid-column: 1/-1;
        border-radius: $picture-border-radius-small;
        width: 100%;
    }

    &__superhost{
        grid-column: 1/2;
        border: solid 0.2rem black;
        border-radius: .6rem;
        color: black;
        font-size: 2rem;
        font-weight: 600;
        padding: .2rem .6rem .2rem .6rem;
        text-transform: uppercase;
        align-self:center;

    }

    &__country{
        grid-column: 2/3;
        margin-left: 1rem;
        font-size: 2.2rem;
        color:$airbnb-default-color-light-grey;
        font-weight: 500;
        align-self:center;
        width: 100%;
        white-space: nowrap;
    }

    &__rating{
        grid-column: 4/-1;
        text-align: end;
        align-self:center;
    }



    &__description{
        grid-column: 1/-1;
        width: 100%;
     
        //https://css-tricks.com/almanac/properties/t/text-overflow/
        text-overflow: ellipsis;

        white-space: nowrap;
        overflow: hidden;
    }

    &__pricing{
        grid-column: 1/-1;
        width: 100%;
    }
}

