.listing-description{
    // background-color:green;
    grid-column: center-start / center-end;

    &__capacity{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        list-style-type: none;
    }
}

